<footer class="footer">
    <ul class="link_list">
        <li class="link">
            <a href="" target="_blank">
                ONELINE STORE
            </a>
        </li>
        <li class="link stocllist">
            <a href="" target="_blank">
                STOCKIST
            </a>
        </li>
        <li class="link stocllist">
            <a href="" target="_blank">
                ALL ITEMS
            </a>
        </li>
        <li class="link">
            <a class="insta-wrap" href="https://www.instagram.com/niceweather_jp/" target="_blank">
                <p class="insta">INSTAGRAM</p>
                <span class="insta_logo">
                    <img src="assets/img/insta.png" alt="">
                </span>
            </a>
        </li>
    </ul>
    <div class="footer_logo active">
        <img src="assets/img/niceweather-logo.png" alt="">
        <svg class="logo_line" fill="none" viewBox="0 0 662 82" xmlns="http://www.w3.org/2000/svg"><g stroke="#0f0" stroke-width="3"><path d="m1.60111 60.5038c40.04719-16.1797 78.40099-32.2895 107.48589-26.2094 29.084 6.08 53.386 19.6267 60.159 19.3495 5.419-.2217 52.168-23.9471 74.866-35.7821 10.041 10.4953 34.865 31.292 53.831 30.5159 23.708-.9701 87.165-25.3779 100.712-25.9322 13.547-.5544 91.443-3.7415 127.45 5.6906 28.805 7.5457 80.272-14.1917 102.405-26.00352" class="logo_line-1"></path><path d="m8.34483 80.224c47.40987-15.8754 146.27917-48.1553 162.47617-50.2728 20.246-2.6468 94.829-3.8803 132.084-5.4048 37.254-1.5244 88.056-3.6031 125.31-5.1276 37.255-1.5244 84.669-3.4645 113.457-4.6425 23.03-.9424 40.958-7.73601 47.043-11.01503l71.093 17.08643" class="logo_line-2"></path></g></svg>
        <div class="goodday pc">
            <img src="assets/img/goodday.png" alt="">
        </div>
    </div>
    <div class="goodday sp">
        <img src="assets/img/goodday.png" alt="">
    </div>
    <div class="footer_wrap">
        <div class="staffcredit-wrap">
            <p class="staff en_r">
                STAFF
            </p>
            <ul class="staff-credit">
                <li class="staff-info">
                    <p class="staff-job">PHOTOGRAPHY</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
                <li class="staff-info right">
                    <p class="staff-job">STYLING</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
                <li class="staff-info">
                    <p class="staff-job">HAIR&MAKE</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
                <li class="staff-info right">
                    <p class="staff-job">MODEL</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
                <li class="staff-info">
                    <p class="staff-job">WEB DESIGN</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
                <li class="staff-info right">
                    <p class="staff-job">WEB DEVELOPMENT</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
                <li class="staff-info">
                    <p class="staff-job">EDIT</p>
                    <p class="staff-name">DUMMY DUMMYDU</p>
                </li>
            </ul>
        </div>
        <p class="copyright en_r">
            © UNITED ARROWS LTD. ALL RIGHTS RESERVED.
        </p>
    </div>

</footer>