<!DOCTYPE html>
<html lang="ja"
	  xmlns:m="http://mayaa.seasar.org"
	  m:extends="/components/layouts/layout-free/layout-free.html"
	  class="store_${storeId} areatype_${area.areaType} ${area.localId.length() == 0 ? '': 'areaid_' + area.localId} ">

<head>
	<title m:inject="m:doRender" m:name="_TITLE">NICEWEATHER</title>
    <inject m:inject="m:doRender" m:name="_HEAD_META">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width,initial-scale=1.6,maximum-scale=1.0,user-scalable=yes">
        <meta name="author" content="UNITED ARROWS LTD.">
        <meta name="robots" content="index, follow">
        <meta name="keywords" lang="ja" content="BEAUTY&amp;amp;YOUTH, UNITED　ARROWS, ビューティー＆ユース, ユナイテッドアローズ">
        <meta name="description" lang="ja" content="">
        <meta property="og:title" content="NICEWEATHER">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://store.united-arrows.co.jp/s/brand/nw/feature/2025/launch/">
        <meta property="og:image" content="https://store.united-arrows.co.jp/s/brand/nw/feature/2025/launch/assets/img/ogp.jpg">
        <meta property="og:site_name" content="ビューティ＆ユース｜UNITED ARROWS ONLINE">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="NICEWEATHER">
        <meta name="twitter:description" content="">
	</inject>
	<!-- CSS -->
	<inject m:inject="m:doRender" m:name="_HEAD_CSS">
    <link rel="stylesheet" href="assets/css/style.css">
	</inject>

	<!-- JS -->
	<inject m:inject="m:doRender" m:name="_HEAD_SCRIPT">
    <!-- font -->
    <script>
        (function(d) {
          var config = {
            kitId: 'ebp8qvw',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
	</inject>
</head>
<body>