<div class="flex_wrap">
    <div class="style style_1">
        <img src="assets/img/look1.jpg" alt="">
    </div>
    <div class="flex-inner">
        <div class="style_txt active">
            Born in 2020 in Seoul, the leading city of global <br class="pc">fashion and culture, <br>
            NICE WEATHER is a lifestyle select shop that’s been <br class="pc">gaining popularity among young generations.<br>
            The shop’s private brand features bold logos and <br class="pc">eye-catching graphics, <br>
            creating unique designs that resonate with young <br class="pc">people both in Korea and abroad.  
            
            <svg class="text-circle-b" viewBox="0 0 300 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M115.443 63.6566C76.3586 67.2082 13.0539 70.7778 2.63137 48.8589C-10.3967 21.4602 113.37 -8.98273 227.366 4.71661C341.362 18.4159 290.816 41.4001 269.707 48.8589C253.015 54.7572 174.032 72.6426 108.485 72.6426C47.8225 72.6426 45.4446 62.2984 32.7588 58.753C-2.64278 48.8589 20.7245 -4.76529 212.058 8.34057C344.299 17.3987 311.358 63.6566 99.3402 69.9097" stroke="black" stroke-width="1.5" class="circle-b"></path>
            </svg>

            <svg class="text-namiline-b" viewBox="0 0 694 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.00305 10.1065C11.0867 5.72758 11.0867 -2.15452 27.2207 3.97599C40.1278 8.88039 59.4886 10.1065 67.5556 10.1065C76.2948 8.06299 96.1933 3.97599 105.874 3.97599C117.974 3.97599 111.924 10.1065 134.108 10.1065C156.292 10.1065 162.343 3.97599 172.426 3.97599C182.51 3.97599 184.527 10.1065 196.627 10.1065C208.728 10.1065 214.778 3.97599 234.945 3.97599C255.113 3.97599 255.113 10.1065 265.197 10.1065C275.28 10.1065 307.548 3.97599 321.665 3.97599C335.783 3.97599 333.766 10.1065 343.85 10.1065C353.933 10.1065 362 3.97599 374.101 3.97599C386.201 3.97599 396.285 10.1065 408.385 10.1065C420.486 10.1065 432.586 3.97599 442.67 3.97599C450.737 3.97599 467.543 8.06299 474.938 10.1065L503.172 3.97599C510.567 6.01949 527.777 10.1065 537.457 10.1065C549.558 10.1065 553.591 3.97599 565.692 3.97599C575.372 3.97599 592.581 8.06299 599.976 10.1065L634.261 3.97599C643 7.18721 663.302 13.96 674.596 15.3612C685.89 16.7625 691.402 8.35493 692.746 3.97599" stroke="black" stroke-width="2" class="namiline-b"></path>
            </svg>
                
            <svg class="text-line-b" fill="none" height="15" viewBox="0 0 256 15" width="256" xmlns="http://www.w3.org/2000/svg"><g stroke="#000" stroke-width="1.5"><path d="m.205566 7.00864c9.810034 0 65.334534-5.71909 134.396434-5.71909 86.328 0 109.382 5.71909 121.154 5.71909l-15.206 2.85927" class="doubleline-1"></path><path d="m6.32983 13.9529c19.67197-3.8127 68.47027-10.62112 106.34017-10.62111 66.81.00001 106.711 2.99573 136.404 4.08505" class="doubleline-2"></path></g></svg>
                  
        </div>

        <div class="style style_2">
            <img src="assets/img/look2.jpg" alt="">
        </div>
    </div>
</div>

<div class="style style_3">
    <img src="assets/img/look3.jpg" alt="">
</div>

<ul class="txtline-wrap">
    <li class="txtline">
        <img src="assets/img/linetxt_b.png" alt="">
    </li>
    <li class="txtline">
        <img src="assets/img/linetxt_b.png" alt="">
    </li>
    <li class="txtline">
        <img src="assets/img/linetxt_b.png" alt="">
    </li>
    <li class="txtline pc">
        <img src="assets/img/linetxt_b.png" alt="">
    </li>
    <li class="txtline pc">
        <img src="assets/img/linetxt_b.png" alt="">
    </li>
</ul>
<div class="flex_wrap2">
    <div class="style style_4">
        <img src="assets/img/look4.jpg" alt="">
    </div>
    <div class="style style_4-2">
        <img src="assets/img/look4-2.jpg" alt="">
    </div>
    <div class="pc flex_empty"></div>
</div>

<div class="style style_5">
    <img src="assets/img/look5.jpg" alt="">
</div>
<div class="flex_wrap3">
    <div class="concepttxt">
        With the concept of <br>
        a “next-generation department store” <br>
        that culturally reinterprets<br>
        the convenience store,<br>
        NICE WEATHER offers a wide range of products,<br>
        from fashion and daily essentials<br>
        to beauty and even groceries.    
    </div>
    <div class="style pc-style_5">
        <img src="assets/img/look5.jpg" alt="">
    </div>
</div>
<div class="flex_wrap4">
    <div class="style style_6">
        <img src="assets/img/look6.jpg" alt="">
    </div>

    <div class="style style_7">
        <img src="assets/img/look7.jpg" alt="">
    </div>
</div>

<div class="allitem-wrap">
    <a href="" target="_blank">
        <p class="allitems en_m">
            ALL ITEMS
        </p>
        <p class="morelook ja">
            NICE WEATHERのアイテムを<br>
            もっと見る            
        </p>
        <div class="allitem_tape allitem_tape1">
            <img src="assets/img/allitem_tape1.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape2">
            <img src="assets/img/allitem_tape2.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape3">
            <img src="assets/img/allitem_tape3.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape4">
            <img src="assets/img/allitem_tape4.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape5">
            <img src="assets/img/allitem_tape5.png" alt="">
        </div>
    </a>
</div>