<ul class="pc-txtline-wrap">
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
</ul>


<div class="style style_8">
    <img src="assets/img/look8.jpg" alt="">
</div>

<div class="flex_wrap5">
    <div class="style style_9">
        <img src="assets/img/look9.jpg" alt="">
    </div>
    <div class="style style_10">
        <img src="assets/img/look10.jpg" alt="">
    </div>
</div>
<div class="style-wrap_11">
    <div class="style style_11">
        <img src="assets/img/look11.jpg" alt="">
    </div>
</div>
<div class="style12-wrap">
    <div class="style style_12">
        <img src="assets/img/look12.jpg" alt="">
    </div>
    <div class="txtline_above">
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
    </div>
    <div class="txtline_under">
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
    </div>
</div>

