<div class="allitem-wrap">
    
    <a href="" target="_blank">
        <p class="allitems en_m">
            ALL ITEMS
        </p>
        <p class="morelook ja">
            NICE WEATHERのアイテムを<br>
            もっと見る            
        </p>
        <div class="allitem_tape allitem_tape1">
            <img src="assets/img/allitem_tape1.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape2">
            <img src="assets/img/allitem_tape2.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape3">
            <img src="assets/img/allitem_tape3.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape4">
            <img src="assets/img/allitem_tape4.png" alt="">
        </div>
        <div class="allitem_tape allitem_tape5">
            <img src="assets/img/allitem_tape5.png" alt="">
        </div>
    </a>
    <svg class="allitem_arrow active" viewBox="0 0 89 198" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M57.5556 193.018L70.7616 172.016M57.5556 193.018L24.5246 178.517M57.5556 193.018L53.7924 181.194L50.0292 169.371C49.9697 152.978 35.9901 139.402 35.1111 122.933C34.232 106.464 25.7343 97.652 57.5556 72.6994C66.5975 65.6097 73.9297 76.6797 73.9297 83.4447C73.9297 93.9437 67.9855 101.264 63.1843 106.926C53.7924 112.498 42.6404 104.323 36.1839 100.782C28.2205 91.2983 8.89019 63.9767 8.89019 44.6282C18.6783 20.5344 53.7924 1.36339 53.7924 1.36339" stroke="black" stroke-width="3" class="arrow_b-1"></path>
    </svg>
</div>