<ul class="pc-txtline-wrap">
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
    <li class="pc-txtline">
        <img src="assets/img/linetxt_w.png" alt="">
    </li>
</ul>


<div class="style style_8">
    <img src="assets/img/look8.jpg" alt="">
    <div class="black-sticker-wraper sticker_8">
        <div class="black-box black-sticker ">
          <div class="sticker_above">
            <div class="stickerlogo_b">
              <img src="./assets/img/stickerlogo2.png" alt="">
            </div>
          </div>
          <ul class="black-sticker-inner">
            <li class="black-sticker-item_detail">
              <a href="" target="_blank">
                <div class="name-price">
                  <p class="name en_r">
                    T SHIRT
                  </p>
                  <p class="price en_r">
                    ¥9,800
                  </p>
                </div>
                <div class="sticker-buy">
                    <img src="./assets/img/buy_btn.png" alt="">
                </div>
              </a>
            </li>
          </ul>
          <div class="barcode2">
            <img src="./assets/img/bar.png" alt="">
          </div>
          <div class="sticker_under"></div>
        </div>
    </div>
</div>

<div class="flex_wrap5">
    <div class="style style_9">
        <img src="assets/img/look9.jpg" alt="">
    </div>
    <div class="style style_10">
        <img src="assets/img/look10.jpg" alt="">
        <div class="black-sticker-wraper sticker_10">
            <div class="black-box black-sticker ">
              <div class="sticker_above">
                <div class="stickerlogo_b">
                  <img src="./assets/img/stickerlogo2.png" alt="">
                </div>
              </div>
              <ul class="black-sticker-inner">
                <li class="black-sticker-item_detail">
                  <a href="" target="_blank">
                    <div class="name-price">
                      <p class="name en_r">
                        T SHIRT
                      </p>
                      <p class="price en_r">
                        ¥9,800
                      </p>
                    </div>
                    <div class="sticker-buy">
                        <img src="./assets/img/buy_btn.png" alt="">
                    </div>
                  </a>
                </li>
              </ul>
              <div class="barcode2">
                <img src="./assets/img/bar.png" alt="">
              </div>
              <div class="sticker_under"></div>
            </div>
        </div>
    </div>
</div>
<div class="style-wrap_11">
    <div class="style style_11">
        <img src="assets/img/look11.jpg" alt="">
        <div class="black-sticker-wraper sticker_11">
            <div class="black-box black-sticker">
              <div class="sticker_above">
                <div class="stickerlogo_b">
                  <img src="./assets/img/stickerlogo2.png" alt="">
                </div>
              </div>
              <ul class="black-sticker-inner">
                <li class="black-sticker-item_detail">
                  <a href="" target="_blank">
                    <div class="name-price">
                      <p class="name en_r">
                        T SHIRT
                      </p>
                      <p class="price en_r">
                        ¥9,800
                      </p>
                    </div>
                    <div class="sticker-buy">
                        <img src="./assets/img/buy_btn.png" alt="">
                    </div>
                  </a>
                </li>
              </ul>
              <div class="barcode2">
                <img src="./assets/img/bar.png" alt="">
              </div>
              <div class="sticker_under"></div>
            </div>
        </div>
    </div>
</div>
<div class="style12-wrap">
    <div class="style style_12">
        <img src="assets/img/look12.jpg" alt="">
        <div class="black-sticker-wraper sticker_12">
            <div class="black-box black-sticker ">
              <div class="sticker_above">
                <div class="stickerlogo_b">
                  <img src="./assets/img/stickerlogo2.png" alt="">
                </div>
              </div>
              <ul class="black-sticker-inner">
                <li class="black-sticker-item_detail">
                  <a href="" target="_blank">
                    <div class="name-price">
                      <p class="name en_r">
                        T SHIRT
                      </p>
                      <p class="price en_r">
                        ¥9,800
                      </p>
                    </div>
                    <div class="sticker-buy">
                        <img src="./assets/img/buy_btn.png" alt="">
                    </div>
                  </a>
                </li>
                <li class="black-sticker-item_detail">
                  <a href="" target="_blank">
                    <div class="name-price">
                      <p class="name en_r">
                        T SHIRT
                      </p>
                      <p class="price en_r">
                        ¥9,800
                      </p>
                    </div>
                    <div class="sticker-buy">
                        <img src="./assets/img/buy_btn.png" alt="">
                    </div>
                  </a>
                </li>
                <li class="black-sticker-item_detail">
                  <a href="" target="_blank">
                    <div class="name-price">
                      <p class="name en_r">
                        T SHIRT
                      </p>
                      <p class="price en_r">
                        ¥9,800
                      </p>
                    </div>
                    <div class="sticker-buy">
                        <img src="./assets/img/buy_btn.png" alt="">
                    </div>
                  </a>
                </li>
              </ul>
              <div class="barcode2">
                <img src="./assets/img/bar.png" alt="">
              </div>
              <div class="sticker_under"></div>
            </div>
        </div>
    </div>
    <div class="txtline_above">
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
        <p class="style-txtline en_r pc">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
    </div>
    <div class="txtline_under">
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
        <p class="style-txtline en_r">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
        <p class="style-txtline en_r pc">
            NICE WEATHER&#12288;offers&#12288;a&#12288;wide&#12288;range&#12288;of&#12288;products,&#12288;from&#12288;fashion&#12288;and&#12288;daily&#12288;essentials&#12288;to&#12288;beauty&#12288;and&#12288;even&#12288;groceries.
        </p>
    </div>
</div>

