<div class="parallax">
    <div class="parallax_inner"> 
        <img class="sp" src="assets/img/itemph.jpg" alt="">
        <img class="pc" src="assets/img/pc-itemph.png" alt="">
    </div>
</div>
<div class="allitem-arrow-wrap">
    <svg class="allitem-arrow" fill="none" viewBox="0 0 132 288" xmlns="http://www.w3.org/2000/svg"><g stroke="#0f0" stroke-width="3"><path d="m118.89 1.27344-39.2545 132.73456c-27.436 27.161-81.29517 68.865-77.24307 18.399 5.06512-63.0818 98.76957-81.4807 107.63357-65.7102 8.864 15.7702 22.793 27.5982 18.994 65.7102-3.039 30.49-65.424 101.194-96.2369 132.735" class="arrow-elem-1"></path><path d="m35.3157 253.602-2.8491 32.855h40.8375" class="arrow-elem-2"></path></g></svg>
</div>

<div class="allitem_2">
    <a href="" target="_blank">
        <p class="allitem">ALL ITEMS</p>
        <p class="allitem_txt">
            NICE WEATHERのアイテムを<br>
            もっと見る            
        </p>
    </a>
    <svg class="allitem-circle" viewBox="0 0 746 368" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M470.752 314.654C383.299 321.047 -18.5144 340.226 2.75815 199.566C24.0307 58.9054 362.026 -11.4252 525.115 4.55906C688.204 20.5433 770.93 103.66 735.476 177.188C700.022 250.715 447.116 337.03 293.482 343.424C139.847 349.818 -53.9683 273.093 45.3031 154.81C144.574 36.5267 373.214 -6.39705 545.796 24.5386C643.886 42.1212 698.514 69.1704 709.476 132.432C727.203 234.731 449.479 359.408 395.117 365.802" stroke="#00FF00" stroke-width="3" class=""></path>
    </svg>
</div>
