<ul class="products_inner">
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product01.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product02.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product03.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product04.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product05.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product06.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product07.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product08.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product09.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product10.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product11.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product12.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product13.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product14.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product15.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product16.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product17.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product18.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product19.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
    <li class="product_item">
        <div class="product_ph">
            <img src="assets/img/product20.png" alt="">
        </div>
        <p class="product_name en_r">
            GLASS  ¥9,800
        </p>
        <div class="product_buy-wrap">
            <a class="en_r" href="" target="_blank">
                <p class="product_buy">BUY</p>
                <p class="buyarrow"></p>
            </a>
        </div>
    </li>    
</ul>