<div class="nw_top">
    <h1 class="nw_logo">
        <img src="assets/img/niceweather-logo.png" alt="">
    </h1>
    <div class="nw_topmv">
        <div class="nw_topph">
            <div class="mv-inner">
                <img class="sp" src="assets/img/main1.jpg" alt="">
                <img class="pc" src="assets/img/pc-main1.jpg" alt="">
            </div>
            <div class="pc tape1 tape">
                <img src="assets/img/top-tape.png" alt="">
            </div>
            <div class="pc tape2 tape">
                <img src="assets/img/top-tape1.png" alt="">
            </div>
            <div class="pc tape3 tape">
                <img src="assets/img/top-tape2.png" alt="">
            </div>            
        </div>
        <ul class="nw_topline">
            <li class="txtline_g">
                <img src="assets/img/linetxt.png" alt="">
            </li>
            <li class="txtline_g">
                <img src="assets/img/linetxt.png" alt="">
            </li>
            <li class="txtline_g">
                <img src="assets/img/linetxt.png" alt="">
            </li>
            <li class="txtline_g pc">
                <img src="assets/img/linetxt.png" alt="">
            </li>
            <li class="txtline_g pc">
                <img src="assets/img/linetxt.png" alt="">
            </li>
            <li class="txtline_g pc">
                <img src="assets/img/linetxt.png" alt="">
            </li>
        </ul>
        
        <div class="sp tape1 tape">
            <img class="sp" src="assets/img/top-tape-sp.png" alt="">
        </div>
        <div class="sp tape2 tape">
            <img src="assets/img/top-tape1.png" alt="">
        </div>
        <div class="sp tape3 tape">
            <img src="assets/img/top-tape2.png" alt="">
        </div>
    </div>
    <div class="scrolldown">
        <p class="scroll en_s">
            SCROLL DOWN
        </p>
        <div class="scroll_arrow">
            <svg class="top-arrow" fill="none" viewBox="0 0 19 57" xmlns="http://www.w3.org/2000/svg"><path d="m2.95006 1.32214c7.96154 8.53007 6.2554 15.35426 5.68676 18.76626-.56863 3.412 0 3.412 0 7.9614s-4.54943 5.1181 0 10.2362c3.63958 4.0944.75828 15.0698 2.27478 16.2072l-10.236185-5.1181 10.946985 5.8289 4.2651-3.5542 2.1325-2.2747" stroke="#fff" stroke-width="1.5" class="top-arrow-svg"></path></svg>
        </div>
    </div>
    <div class="sel_language en_r">
        <div class="sel_l sel_english">
            EN
            <div class="sel_circle active">
                <svg fill="none" viewBox="0 0 67 56" xmlns="http://www.w3.org/2000/svg"><path d="m66.5176 37.4548c-13.5098 4.1572-59.68045 6.3554-63.32495-3.8491-5.19618-14.5491.08969-32.21603 31.69645-32.21605 29.618-.00003 34.4995 17.71755 22.2755 32.21605-10.9119 12.9423-17.7347 18.0907-25.461 21.2561" stroke="#fff" stroke-width="1.5" class="svg-elem-1"></path></svg>
            </div>
        </div>
        <div class="sel_l sel_japanese">
            JP
            <div class="sel_circle active">
                <svg fill="none" viewBox="0 0 67 56" xmlns="http://www.w3.org/2000/svg"><path d="m66.5176 37.4548c-13.5098 4.1572-59.68045 6.3554-63.32495-3.8491-5.19618-14.5491.08969-32.21603 31.69645-32.21605 29.618-.00003 34.4995 17.71755 22.2755 32.21605-10.9119 12.9423-17.7347 18.0907-25.461 21.2561" stroke="#fff" stroke-width="1.5" class="svg-elem-1"></path></svg>
            </div>
        </div>

    </div>

    <div class="lead_wrap">
        <p class="leadtxt english">
            Born in 2020 in Seoul, the leading city of <br>
            global fashion and culture, <br>
            NICE WEATHER is a lifestyle select shop that’s been <br>
            gaining popularity among young generations.<br>
            The shop’s private brand features bold logos and <br>
            eye-catching graphics, <br>
            creating unique designs that resonate with young people <br>
            both in Korea and abroad.<br>
            With the concept of a “next-generation department store”<br>
             that culturally reinterprets the convenience store, <br>
            NICE WEATHER offers a wide range of products, from fashion<br>
            and daily essentials to beauty and even groceries. <br>
            The brand name reflects a feeling of a beautiful day in which <br>
            NICE WEATHER aims to bring <br>
            a bright and cheerful experience to everyone.
            
        </p>
        <p class="leadtxt japanese">
            2020年、グローバルファッションと文化の<br>
            中心地であるソウルで誕生したNICE WEATHERは、<br>
            若い世代に人気を集めているライフスタイルセレクトショップです。<br>
            ショップのプライベートブランドは、<br>
            太字のロゴと目を引くグラフィックを特徴とし、<br>
            韓国国内外の若者たちに共感を呼ぶユニークなデザインを生み出しています。<br>
            「次世代のデパートメントストア」というコンセプトで、<br>
            コンビニエンスストアを文化的に再解釈し、ファッションや日用品、<br>
            ビューティー、さらには食料品まで多彩な商品を取り揃えています。<br>
            ブランド名には、晴れた美しい日を感じさせる意味が込められており、<br>
            NICE WEATHERは、誰もが明るく楽しい体験を<br>
            感じられるようにすることを目指しています。
        </p>
    </div>
</div>