@use './_reset';
@use './_mixin' as *;
@use './_common' as c;


// 2個目
.black-sticker-wraper{
    position: absolute;
}
.black-sticker{
    position:relative;
    width: calc(416px / 2);
    background: #F0F0F0;
    border-radius: 5px;
}

.black-box{
    clip-path: polygon(0% 0%, 100% 0%, 100% 30px, 15px 100%, 0% 100%);
    transition:clip-path 1s ease .4s;
  }

.black-box:before{
    position:absolute;
    content:"";
    left: 100%;
    top:100%;
    width:100%;
    height:100%;
    background:gray;
    border-radius: 5px;
    translate: -190px -85px;
    display: block;
    transition: translate 1s ease .4s;
    z-index: 100;
}

.style{
    &.show{
        .black-box{
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
            &:before{
                translate: 0 0;
                left: 100%;
            }
        }
    }
}

.sticker_above{
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 100%;
    height: calc(75.68px / 2);
    background: #000;
    z-index: 10;
}
.stickerlogo_b{
    width: calc(178.89px / 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sticker_under{
    border-radius: 0 0 5px 5px;
    position: relative;
    width: 100%;
    height: 25px;
    background: #000;    
    z-index: 10;
}

.black-sticker-inner{
    width: calc(358.72px / 2);
    margin: 0 auto;
    .black-sticker-item_detail{
        margin-top: 18px;
        &:first-of-type{
            padding-top: 12.5px;
            margin: 0;
        }
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            vertical-align: middle;               
        } 
    }   
    .name-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;   
        width: calc(258.35px / 2);   
        .name{
            font-size: 13.5px;
            color: #000;
        }    
        .price{
            font-size: 13.5px;
            color: #000;
        }
    }
    .sticker-buy{
        width: 41.5px;
        line-height: 0;
    }
}

.barcode2{
    width: calc(340.85px / 2);
    line-height: 0;
    margin: 10px auto -5px;
}





.sticker_8{
    bottom: 0;
    right: 0;
    margin-bottom: 22%;
    margin-right: -5%;
    transform: rotate(-15deg);
    @include pc{
        right: unset;
        left: 0;
        margin-bottom: 27%;
        margin-right: 0;
        margin-left: -48%;
        transform: rotate(9deg);        
    }
}

.sticker_10{
    bottom: 0;
    left: 0;
    margin-bottom: 24%;
    margin-left: -49%;
    transform: rotate(10deg);
    @include pc{
        bottom: unset;
        left: unset;
        top: 0;
        right: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: -40%;
        margin-top: 27%;
        transform: rotate(16deg);        
    }
}

.sticker_11{
    bottom: 0;
    right: 0;
    margin-bottom: 13%;
    margin-right: -9%;
    transform: rotate(-13deg);
    @include pc{
        margin-bottom: 43%;
        margin-right: -30%;
        transform: rotate(-15deg);        
    }
}


.sticker_12{
    bottom: 0;
    right: 0;
    margin-bottom: -48%;
    margin-right: -9%;
    transform: rotate(-13deg);
    .black-box{
        &::before{
            translate: -190px -151px;
        }
    }
    @include pc{
        margin-bottom: 10%;
        margin-right: -22%;
        transform: rotate(-13deg);        
    }
}